*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color:#0FFCBE;
}

form{
    background-color: white;
    text-align: center;
    display: block;
    font-size: 18px;
    margin: 2% 5%;
}

h1{
    font-size: clamp(36px,3.5vw,120px);
    text-shadow: black 4px;
    color: white;
    text-align: center;
}

input{
    font-size: clamp(2px,3.5vw,16px);
}

span{
    color: red;
}